image: registry.gitlab.com/nicolas17/ekoparty-leds-dockerbase:v1.6.13-mk

variables:
  GIT_SUBMODULE_STRATEGY: normal
  GIT_SSL_NO_VERIFY: "true"

stages:
  - build

job1:
  stage: build
  script:
    - make -I /usr/share/arduino/ ARDUINO_DIR=/root/arduino-1.6.13
